<h1> <%= restaurant.name %> </h1>

<h3><%= restaurant.address %></h3>

<h3><%= '!' * restaurant.rating %></h3>

<%link_to "edit", edit_restaurant_path(@restaurant) %>

<%= link_to "Trash",


 <%= link_to 'Restaurants', restaurants_path %>
